<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="container">
    <div class="row mt-5">
        <div class="row mb-3">
            <div class="col-6">
                <a type="button" id="btn-create" style="width: 100px" class="btn btn-primary">Add</a>
            </div>
        </div>
        <table class="table table-hover table-striped text-center align-content-center">
            <thead>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Email</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${customer}">
                <td th:text="${rowStat.count}"></td>
                <td th:text="${row.customerName}"></td>
                <td th:text="${row.customerGender}"></td>
                <td th:text="${row.customerPhone}"></td>
                <td th:text="${row.customerType.customerTypeName}"></td>
                <td th:text="${row.customerEmail}"></td>
                <td>
                    <a class="btn btn-success" type="button" id="btn-detail" th:data-detail-id="${row.customerId}">Detail</a>

                    <a class="btn btn-warning">Edit</a>

                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{customer/create :: createModal( customerDto=${customerDto},customerTypeList=${customerTypeList})}"></div>
<div th:replace="~{customer/detail :: detailModal(customerDto=${customerDto})}"></div>

<script type="text/javascript" th:src="@{/js/customer/customer.js}"></script>
<script type="text/javascript" th:inline="javascript">

    // Validate form create
    if ([[${isError}]]) {
        $(window).on('load', function () {
            $('#createModal').modal('show');
        });
    }

</script>
</body>
</html>