<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="container">
    <div class="row mt-4 mb-2" style="font-size: 14px">
        <div class="row mb-2">
            <div class="col-6" style="padding-left: 0">
                <a type="button" id="btn-create" class="btn btn-success" data-bs-toggle="modal"
                   data-bs-target="#createModal"><i class="bi bi-plus-circle-fill"></i></a>
            </div>
        </div>
        <table class="table table-hover table-striped text-center align-content-center" id="table-customer">
            <thead>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Email</th>
            <th>Action</th>
            </thead>
        </table>
    </div>
</div>

<div th:replace="~{customer/delete :: deleteModal()}"></div>

<div th:replace="~{customer/create :: createModal()}"></div>

<div th:replace="~{customer/detail :: detailModal()}"></div>

<div th:replace="~{layout :: notification-success}"></div>

<script type="text/javascript">
</script>
<script type="text/javascript" src="/js/customer.js"></script>
</body>
</html>