<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<body>
<!-- Detail Modal HTML -->
<div th:fragment="deleteModal()" id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete customer</h4>
                <button type="button" class="btn-close btn-close-form" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-secondary btn-close-form" data-bs-dismiss="modal" value="Close">
                <input type="submit" data-bs-dismiss="modal" class="btn btn-danger" id="btn-confirm-delete"
                       value="Confirm">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>
</body>
</html>