<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/popper.js/2.9.3/umd/popper.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <style>

        tbody tr {
            height: 150px;
        }

        tbody td {
            line-height: 150px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="mt-5 mb-3 text-center">Blog List</h2>
    <div class="row mb-3">
        <div class="col-6">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal"
               data-bs-target="#createModal">Create</a>
        </div>
    </div>
    <table class="table table-hover table-striped text-center align-content-center">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Create time</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,rowStat : ${blogList}">
            <td th:text="${rowStat.count}"></td>
            <td th:text="${row.title}"></td>
            <td th:text="${row.author}"></td>
            <td th:text="${row.createTime}"></td>
            <th><img th:src="@{'/image/' + ${row.image}}" height="150px"
                     width="250px"/></th>
            <td>
                <a class="btn btn-success" th:href="@{/blog/{id}/detail(id=${row.id})}">Detail</a>
                <a class="btn btn-warning" th:href="@{/blog/{id}/edit(id=${row.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/blog/{id}/delete(id=${row.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Create Modal HTML -->
    <div id="createModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" th:object="${blogForm}" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Create new blog</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="this.form.reset()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 form-group mb-2">
                                <label>Title</label>
                                <input type="text" class="form-control mt-2" name="title" th:field="*{title}"
                                       required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mb-2">
                                    <label>Author</label>
                                    <input type="text" class="form-control mt-2" name="author" th:field="*{author}"
                                           required>
                                </div>
                            </div>
                            <div class="col-6 form-group mb-2">
                                <label>Image</label>
                                <input type="file" class="form-control mt-2" name="image" th:field="*{image}"
                                       accept="image/png, image/jpg"
                                       required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 form-group mb-2">
                                <label>Content</label>
                                <textarea type="text" class="form-control mt-2" name="content" th:field="*{content}"
                                          required style="height: 200px"></textarea>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Close"
                                   onclick="this.form.reset()">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>