<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<body>
<!-- Create Modal HTML -->
<div th:fragment="createModal()" id="createModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="form-create">
                <div class="modal-header">
                    <h4 class="modal-title">Create new customer</h4>
                    <button type="button" class="btn-close btn-close-form" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="customerId" value="0">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label">Name</label>
                                <input type="text" name="customerName"
                                       id="customerName"
                                       class="form-control"/>
                                <p style="color: red" class="form-label" id="error-customerName"></p>
                            </div>

                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label">Customer Type</label>
                                <select class="form-select" id="customerTypeId"
                                        name="customerTypeId"
                                        aria-label="Default select example">
                                </select>
                                <p style="color: red" class="form-label" id="error-customerTypeId"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 d-flex align-items-center">
                            <div class="form-outline datepicker w-100">
                                <label class="form-label">Birthday</label>
                                <input type="date" name="customerBirthday"
                                       id="customerBirthday"
                                       class="form-control"/>
                                <p style="color: red" class="form-label" id="error-customerBirthday"></p>
                            </div>

                        </div>
                        <div class="col-md-6 mb-4">
                            <h6 class="mb-2 pb-1">Gender: </h6>
                            <div class="mt-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="femaleGender" name="customerGender"
                                           value="0" checked/>
                                    <label class="form-check-label">Female</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="maleGender" name="customerGender"
                                           value="1"/>
                                    <label class="form-check-label">Male</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="otherGender" name="customerGender"
                                           value="2"/>
                                    <label class="form-check-label">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                                <label class="form-label">IdCard</label>
                                <input type="text" name="customerIdCard"
                                       id="customerIdCard"
                                       class="form-control"/>
                                <p style="color: red" class="form-label" id="error-customerIdCard"></p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                                <label class="form-label">Phone Number</label>
                                <input type="tel" name="customerPhone"
                                       id="customerPhone"
                                       class="form-control"/>
                                <p style="color: red" class="form-label" id="error-customerPhone"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-4 pb-2">
                            <div class="form-outline">
                                <label class="form-label">Email</label>
                                <input type="text" name="customerEmail"
                                       id="customerEmail"
                                       class="form-control"/>
                                <p style="color: red" class="form-label" id="error-customerEmail"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-4 pb-2">
                            <div class="form-outline">
                                <label class="form-label">Address</label>
                                <input type="text" name="customerAddress"
                                       id="customerAddress"
                                       class="form-control"/>
                                <p style="color: red" class="form-label" id="error-customerAddress"></p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary btn-close-form" data-bs-dismiss="modal"
                               value="Close">
                        <input type="button" class="btn btn-primary" id="btn-submit-create" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>